<div class="container">
    <h1 class='my-4'>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p>Paste your url and we will create a short URL for you.</p>

    <p> Or you can paste the url and introduce your own shortUrl. This must be at least 4 characters long. Then Shorster
        will generate a shortcode based on your short Url. </p>


    <form action="/shortcode" method="POST" class="my-4">
        <label class="visually-hidden form-label" for="longUrl">Url</label>
        <div class="input-group">
            <input required placeholder='URL' type="url" name="longUrl" id="longUrl" class="form-control mr-2 col">
            <input placeholder='custom short URL' type="text" name="shortUrl" id="shortUrl"
                class="form-control mr-2 col">
            <button class="btn btn-success" type="submit">Short</button>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Name</th>
                    <th>Stats</th>
                    <th>Edit</th>

                </tr>
            <tbody>
                {{#each shortUrls}}
                <tr>
                    <td>
                        <a href="{{long}}" target="_blank">{{long}}</a>
                    </td>
                    <td>
                        <a href="{{short}}" target="_blank">{{short}}</a>
                    </td>
                    <td>{{clicks}}</td>
                    {{#if name}}
                    <td>{{name}}</td>
                    {{else}}
                    <td>Unknown</td>
                    {{/if}}

                    <td>
                        <a href="/stats?shortcode={{this.short}}" class="btn btn-primary">
                            stats
                        </a>
                    </td>
                    <td>
                        <a href="/edit?shortcode_id={{this._id}}" class="btn btn-danger">
                            edit
                        </a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
            </thead>
        </table>
    </div>
</div>